alembic
altair
annotated-doc
annotated-types
anyio
attrs
blinker
cachetools
cattrs
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
databricks-sdk
docker
fastapi
fastf1
filelock
Flask
flask-cors
fonttools
fsspec
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
gunicorn
h11
huey
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
Mako
MarkupSafe
matplotlib
mlflow
mlflow-skinny
mlflow-tracing
mpmath
msgpack
narwhals
networkx
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pillow
platformdirs
plotly
pluggy
prettytable
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
pytest
python-dateutil
python-dotenv
pytz
PyYAML
RapidFuzz
referencing
requests-cache
rpds-py
rsa
seaborn
setuptools
signalrcore
six
skops
smmap
SQLAlchemy
sqlparse
starlette
sympy
tenacity
threadpoolctl
timple
toml
tornado
tqdm
typing-inspection
typing_extensions
tzdata
url-normalize
urllib3
uvicorn
wcwidth
websockets
Werkzeug
zipp
streamlit
requests

# Core Machine Learning Stack (Safely Pinned to prevent syntax crashes)
joblib==1.4.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.13.1
torch==2.3.1
xgboost==2.0.3